* {
    box-sizing: border-box;
}

body {
    width: 900px;
    margin: 25px auto;
}

p {
    font-size: 20px;
}

p, li {
    color: gray;
    line-height: 1.5;
}

li {
    font-size: 1.2em;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

.linebreak {
    height: 10px;
    background-image: linear-gradient(45deg, #ffffff 37.50%, #4d4d4d 37.50%,#4d4d4d 50%, #ffffff 50%, #ffffff 87.50%, #4d4d4d 87.50%, #4d4d4d 100%);
    background-size: 5.66px 5.66px;
}


/* header styles */
header {
    margin-bottom: 30px;
}

.title-container {
    display: inline-block;
    line-height: .9;
    vertical-align: top;
    margin-left: 5px;
}

.title {
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
}

.title-container .subtitle {
    font-size: 12px;
    letter-spacing: 1px;
}

.links {
    float: right;
    margin-top: 10px;
}

.links img:nth-child(7) {
    margin-left: 8px;
}


/*Main content styles */

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.subheading {
    color: grey;
    margin-bottom: 25px;
}

.print {
    float: right;
}

.post-title {
    line-height: .5;
}

.post p {
    text-indent: 2em;
}

.pizza {
    width: 100%;
}


/* ingredient list styles */
.ingr {
    background-image: url(assets/list-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height:300px;
    margin-bottom: 30px;
}

.ingr ul {
    column-count: 2;
    list-style-type: none;
    padding: 40px;
}

.ingr li:before {
    content: "\2610";
}

li.check:before {
    content: "\2611"; 
}

.strike {
    text-decoration: line-through;
}

/* about styles */
.about-section {
    margin-top:30px;
}

.about {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 10px;
}

.about p {
    line-height: 1;
}

.name {
    margin-top: 0;
    color: black;
    font-size: 1.5em;
}

.share {
    float: right;
    margin-top: 15px;
}

.share-button {
    text-transform: uppercase;
    background-color: orangered;
    padding: 10px 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: white;
}

/*Footer styles*/

footer {
    margin-top: 50px;
    text-align: center;
}

.footer-line {
    background-color: lightgray;
    width: 427.5px;
    height: 1px;
    display: inline-block;
}

footer img {
    vertical-align: middle;
}

.copyright {
    margin-top: 25px;
}

.copyright p{
    font-size: 14px;
    margin: 0;
    color: lightgray;
}