body {
    width: 900px;
    margin: 25px auto;
    box-sizing: border-box;
}

p, li {
    color: gray;
    line-height: 1.5;
}

li {
    font-size: 1.2em;
}

hr {
    margin-top: 30px;
}

/* header styles */
.title-container {
    display: inline-block;
    line-height: .9;
    vertical-align: top;
    margin-left: 5px;
}

.title {
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

.title-container .subtitle {
    font-size: 12px;
}

.links {
    float: right;
    margin-top: 10px;
}

.rss {
    margin-left: 8px;
}


/*Main content styles */

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.content p {
    text-indent: 2em;
}

.pizza {
    width: 100%;
}


/* ingredient list styles */
.ingr {
    background-image: url(assets/list-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height:300px;
}

.ingr ul {
    column-count: 2;
    list-style-type: none;
}

.ingr li:before {
    content: "\2610";
}

li.check:before {
    content: "\2611"; 
}

.strike {
    text-decoration: line-through;
}